<div class="abc" style="float: left; margin-left: 15%; margin-right:15%; width: 70%" >
	<h2>Cells		<i class="fa fa-question-circle" onClick="toggle1(this)" style="cursor:pointer;"></i></h2>
	<div class="box">
	  <div class="description" style="display: none;">
		<p><b>Estimated Number of Cells:</b> Cells with at least ine productive IGH, IGL or IGK chain.</p>
		<p><b>Reads Mapped to Any V(D)J Gene:</b> Reads mapped to any IGH, IGL or IGK genes.</p>
		<p><b>Reads Mapped to IGH:</b> Reads mapped to IGH chain. For TCR, this should be one of [TRA, TRB].</p>
		<p><b>Reads Mapped to IGL:</b> Reads mapped to IGL chain. For TCR, this should be one of [TRA, TRB].</p>
		<p><b>Reads Mapped to IGK:</b> Reads mapped to IGK chain. For TCR, this should be one of [TRA, TRB].</p>	
		<p><b>Fraction Reads in Cells:</b> Number of reads with cell-associated barcodes divided by the number of reads with valid barcodes.</p>
		<p><b>Median used IGH UMIs per Cell:</b> Median number of UMIs used to a IGH contig per cell.</p>
		<p><b>Median used IGL UMIs per Cell:</b> Median number of UMIs used to a IGL contig per cell.</p>
		<p><b>Median used IGK UMIs per Cell:</b> Median number of UMIs used to a IGK contig per cell.</p>	
	</div>
	  <table style="float: left; margin-left: 0%; margin-right:3%; width: 47%">
		{% for item in BCR_assemble_summary[:9] %}
		  <tr>
			{% for i in item %}
			<td>{{ i|e }}</td>
			{% endfor %}
		  </tr>
		{% endfor %}
	  </table>
  
	  <div id="myDivUMI" style="float: left; margin-left: 3%; margin-top: 1%;margin-right:0%; width: 47%">
		{{ chart|safe }}
	  </div>

	  <div class="clear" ></div>
	</div>
  </div>

<div class="abc" style="float: left; margin-left: 15%; margin-right:15%; width: 70%" >
  <h2>V(D)J Annotation		<i class="fa fa-question-circle" onClick="toggle1(this)" style="cursor:pointer;"></i></h2>
  <div class="box">
	<div class="description" style="display: none;">
	  <p><b>Cells With Productive V-J Spanning Pair:</b> Fraction of cell-associated barcodes with at least one productive contig for each chain of the receptor pair. A productive contig satisfies the following conditions: the contig annotations span the 5' end of the V region to the 3' end of the J region of the chain, a start codon was found in the expected part of the V sequence, an in-frame CDR3 amino acid motif was found, and no stop codons were found in the aligned V-J region.</p>
	  <p><b>Cells With Productive V-J Spanning (IGH, IGL) Pair:</b> Fraction of cell-associated barcodes with at least one productive contig for each chain of the receptor pair. A productive contig satisfies the following conditions: the contig annotations span the 5' end of the V region to the 3' end of the J region of the chain, a start codon was found in the expected part of the V sequence, an in-frame CDR3 amino acid motif was found, and no stop codons were found in the aligned V-J region.</p>
	  <p><b>Cells With Productive V-J Spanning (IGH, IGK) Pair:</b> Fraction of cell-associated barcodes with at least one productive contig for each chain of the receptor pair. A productive contig satisfies the following conditions: the contig annotations span the 5' end of the V region to the 3' end of the J region of the chain, a start codon was found in the expected part of the V sequence, an in-frame CDR3 amino acid motif was found, and no stop codons were found in the aligned V-J region.</p>
	  <p><b>Cells With IGH Contig:</b> Fraction of cell-associated barcodes with at least one IGH contig annotated as a full or partial V(D)J gene.</p>
	  <p><b>Cells With CDR3-annotated IGH Contig:</b> Fraction of cell-associated barcodes with at least one IGH contig annotated as a full or partial V(D)J gene.</p>       
	  <p><b>Cells With V-J spanning IGH Contig:</b> Fraction of cell-associated barcodes with at least one contig spanning the 5' end of the V region to the 3' end of the J region for IGH.</p>
	  <p><b>Cells With productive IGH Contig</b>: Fraction of cell-associated barcodes with productive IGH chain. A productive contig satisfies the following conditions: the contig annotations span the 5' end of the V region to the 3' end of the J region of the chain, a start codon was found in the expected part of the V sequence, an in-frame CDR3 amino acid motif was found, and no stop codons were found in the aligned V-J region.</p>
	  <p><b>Cells With IGL Contig:</b> Fraction of cell-associated barcodes with at least one IGL contig annotated as a full or partial V(D)J gene.</p>
	  <p><b>Cells With CDR3-annotated IGL Contig:</b> Fraction of cell-associated barcodes with at least one IGL contig annotated as a full or partial V(D)J gene.</p>  
	  <p><b>Cells With V-J spanning IGL Contig:</b> Fraction of cell-associated barcodes with at least one contig spanning the 5' end of the V region to the 3' end of the J region for IGL.</p>
	  <p><b>Cells With productive IGL Contig:</b> Fraction of cell-associated barcodes with productive IGL chain. A productive contig satisfies the following conditions: the contig annotations span the 5' end of the V region to the 3' end of the J region of the chain, a start codon was found in the expected part of the V sequence, an in-frame CDR3 amino acid motif was found, and no stop codons were found in the aligned V-J region.</p>
	  <p><b>Cells With IGK Contig:</b> Fraction of cell-associated barcodes with at least one IGK contig annotated as a full or partial V(D)J gene.</p>
	  <p><b>Cells With CDR3-annotated IGK Contig:</b> Fraction of cell-associated barcodes with at least one IGK contig annotated as a full or partial V(D)J gene.</p>  
	  <p><b>Cells With V-J spanning IGK Contig:</b> Fraction of cell-associated barcodes with at least one contig spanning the 5' end of the V region to the 3' end of the J region for IGK.</p>
	  <p><b>Cells With productive IGK Contig:</b> Fraction of cell-associated barcodes with productive IGK chain. A productive contig satisfies the following conditions: the contig annotations span the 5' end of the V region to the 3' end of the J region of the chain, a start codon was found in the expected part of the V sequence, an in-frame CDR3 amino acid motif was found, and no stop codons were found in the aligned V-J region.</p>

  </div>
	<table style="float: left; margin-left: 0%; margin-right:3%; width: 47%">
	  {% for item in BCR_assemble_summary[9:24] %}
		{% if loop.index <= (loop.length+1)/2 %}
	  <tr>
		  {% for i in item %}
		  <td>{{ i|e }}</td>
		  {% endfor %}
	  </tr>
		{% endif %}
	  {% endfor %}
	</table>

	<table style="float: left; margin-left: 3%; margin-right:0%; width: 47%">
	  {% for item in BCR_assemble_summary[9:24] %}
		{% if loop.index > (loop.length+1)/2 %}
		<tr>
		  {% for i in item %}
		  <td>{{ i|e }}</td>
		  {% endfor %}
		</tr>
		{% endif %}
	  {% endfor %}  
	</table>
	<div class="clear" ></div>
   </div>
  </div>

<div class="abc" style="float: left; margin-left: 15%; margin-right:15%; width: 70%" >
	<h2>Match		<i class="fa fa-question-circle" onClick="toggle1(this)" style="cursor:pointer;"></i></h2>
	<div class="box">
	  <div class="description" style="display: none;">
        <p><b>Cells match with scRNA-seq analysis:</b> Barcodes of cells and barcodes of scRNA-seq cells are reversed complementary.</p>
		<p><b>Cells With Productive V-J Spanning Pair:</b> Fraction of cell-associated barcodes with at least one productive contig for each chain of the receptor pair. A productive contig satisfies the following conditions: the contig annotations span the 5' end of the V region to the 3' end of the J region of the chain, a start codon was found in the expected part of the V sequence, an in-frame CDR3 amino acid motif was found, and no stop codons were found in the aligned V-J region.</p>
		<p><b>Cells With IGH Contig:</b> Fraction of cell-associated barcodes with at least one IGH contig annotated as a full or partial V(D)J gene.</p>        
		<p><b>Cells With V-J spanning IGH Contig:</b> Fraction of cell-associated barcodes with at least one contig spanning the 5' end of the V region to the 3' end of the J region for IGH.</p>
		<p><b>Cells With productive IGH Contig</b>: Fraction of cell-associated barcodes with productive IGH chain. A productive contig satisfies the following conditions: the contig annotations span the 5' end of the V region to the 3' end of the J region of the chain, a start codon was found in the expected part of the V sequence, an in-frame CDR3 amino acid motif was found, and no stop codons were found in the aligned V-J region.</p>
		<p><b>Cells With IGL Contig:</b> Fraction of cell-associated barcodes with at least one IGL contig annotated as a full or partial V(D)J gene.</p>
		<p><b>Cells With V-J spanning IGL Contig:</b> Fraction of cell-associated barcodes with at least one contig spanning the 5' end of the V region to the 3' end of the J region for IGL.</p>
		<p><b>Cells With productive IGL Contig:</b> Fraction of cell-associated barcodes with productive IGL chain. A productive contig satisfies the following conditions: the contig annotations span the 5' end of the V region to the 3' end of the J region of the chain, a start codon was found in the expected part of the V sequence, an in-frame CDR3 amino acid motif was found, and no stop codons were found in the aligned V-J region.</p>
		<p><b>Cells With IGK Contig:</b> Fraction of cell-associated barcodes with at least one IGK contig annotated as a full or partial V(D)J gene.</p>
		<p><b>Cells With CDR3-annotated IGK Contig:</b> Fraction of cell-associated barcodes with at least one IGK contig annotated as a full or partial V(D)J gene.</p>  
		<p><b>Cells With V-J spanning IGK Contig:</b> Fraction of cell-associated barcodes with at least one contig spanning the 5' end of the V region to the 3' end of the J region for IGK.</p>
		<p><b>Cells With productive IGK Contig:</b> Fraction of cell-associated barcodes with productive IGK chain. A productive contig satisfies the following conditions: the contig annotations span the 5' end of the V region to the 3' end of the J region of the chain, a start codon was found in the expected part of the V sequence, an in-frame CDR3 amino acid motif was found, and no stop codons were found in the aligned V-J region.</p>
  
	</div>
	  <table style="float: left; margin-left: 0%; margin-right:3%; width: 47%">
		{% for item in BCR_assemble_summary[24:] %}
		  {% if loop.index <= (loop.length+1)/2 %}
		<tr>
			{% for i in item %}
			<td>{{ i|e }}</td>
			{% endfor %}
		</tr>
		  {% endif %}
		{% endfor %}
	  </table>
  
	  <table style="float: left; margin-left: 3%; margin-right:0%; width: 47%">
		{% for item in BCR_assemble_summary[24:] %}
		  {% if loop.index > (loop.length+1)/2 %}
		  <tr>
			{% for i in item %}
			<td>{{ i|e }}</td>
			{% endfor %}
		  </tr>
		  {% endif %}
		{% endfor %}  
	  </table>
	  <div class="clear" ></div>
	</div>
  </div>