<div class="abc" style="float: left; margin-left: 15%; margin-right:15%; width: 70%" >
    <h2>Mapping     <i class="fa fa-question-circle" onClick="toggle1(this)" style="cursor:pointer;"></i></h2>
    <div class="box">
      <div class="description" style="display: none;">
        <p><b>For TCR:</b></p>
        <p><b>Reads mapped to any TCR V(D)J genes</b>: Reads confidently mapped to TRA and TRB chain.</p>        
        <p><b>Reads mapped to TRA</b>: Reads confidently mapped to TRA chain.</p>
        <p><b>Reads mapped to TRB</b>: Reads confidently mapped to TRB chain.</p>
        <p><b>For BCR:</b></p>
        <p><b>Reads mapped to any BCR V(D)J genes</b>: Reads confidently mapped to IGH, IGL and IGK chain.</p>        
        <p><b>Reads mapped to IGH</b>: Reads confidently mapped to IGH chain.</p>
        <p><b>Reads mapped to IGL</b>: Reads confidently mapped to IGL chain.</p>
        <p><b>Reads mapped to IGK</b>: Reads confidently mapped to IGK chain.</p>
    </div>
      <table style="float: left; margin-left: 0%; margin-right:3%; width: 47%">
        {% for item in mapping_summary %}
          {% if loop.index <= (loop.length+1)/2 %}
          <tr>
            {% for i in item %} 
            <td>{{ i|e }}</td>
            {% endfor %}
          </tr>
          {% endif %}
        {% endfor %}
      </table>

      <table style="float: left; margin-left: 3%; margin-right:0%; width: 47%">
        {% for item in mapping_summary %}
          {% if loop.index > (loop.length+1)/2 %}
          <tr>
            {% for i in item %} 
            <td>{{ i|e }}</td>
            {% endfor %}
          </tr>
          {% endif %}
        {% endfor %}
      </table>
      <div class="clear" ></div>
    </div>
  </div>