<div class="abc" style="float: left; margin-left: 15%; margin-right:15%; width: 70%" >
	<h2>Cell    <i class="fa fa-question-circle" onClick="toggle1(this)" style="cursor:pointer;"></i></h2>
	<div class="box">
	  <div class="description" style="display: none;">
		<p>For TCR:</p>
		<p><b>Estimated number of cells</b>: Number of cells which contain TRA or TRB.</p>
		<p><b>Number of cells with TRA</b>: Cells with TRA chain.</p>
		<p><b>Number of cells with TRB</b>: Cells with TRB chain.</p>
		<p><b>Number of cells with paired TRA and TRB</b>: Cells with paired TRA and TRB chains.</p>    
		<p>For BCR:</p>
		<p><b>Estimated number of cells</b> : Number of cells which contain IGH, IGL or IGK.</p>
		<p><b>Number of cells with IGH</b>: Cells with IGH chain.</p>
		<p><b>Number of cells with IGL</b>: Cells with IGL chain.</p>
		<p><b>Number of cells with IGK</b>: Cells with IGK chain.</p>
		<p><b>Number of cells with paired IGH and IGL</b>: Cells with paired IGH and IGL chains.</p>
		<p><b>Number of cells with paired IGH and IGK</b>: Cells with paired IGH and IGK chains.</p>
	</div>
	  <table style="float: left; margin-left: 0%; margin-right:3%; width: 47%">
		{% for item in res_format_summary %}
		  <tr>
			{% for i in item %} 
			<td>{{ i|e }}</td>
			{% endfor %}
		  </tr>
		{% endfor %}
	  </table>
  
	  <div id="myDivUMI" style="float: left; margin-left: 3%; margin-top: 1%;margin-right:0%; width: 47%">
		{{ chart|safe }}
	  </div>
  
	  <hr />
	  
	  <div class="clear" ></div>
	</div>
  </div>