<div class="abc" style="float: left; margin-left: 15%; margin-right:15%; width: 70%" >
	<h2>Cell    <i class="fa fa-question-circle" onClick="toggle1(this)" style="cursor:pointer;"></i></h2>
	<div class="box">
	  <div class="description" style="display: none;">
		<p>If type is BCR:</p>
		<p><b>Estimated Number of Cells</b> : Number of cells which contain IGH, IGL or IGK.</p>
		<p><b>Cells with IGH</b>: Cells with IGH.</p>
		<p><b>Cells with IGL</b>: Cells with IGL.</p>
		<p><b>Cells with IGK</b>: Cells with IGK.</p>
		<p><b>Cells with paired IGH and IGL</b>: Cells with paired IGH and IGL.</p>
		<p><b>Cells with paired IGH and IGK</b>: Cells with paired IGH and IGK.</p>
		<p>If type is TCR:</p>
		<p><b>Estimated Number of Cells</b>: Number of cells which contain TRA or TRB.</p>
		<p><b>Cells with TRA</b>: Cells with TRA.</p>
		<p><b>Cells with TRB</b>: Cells with TRB.</p>
		<p><b>Cells with paired TRA and TRB</b>: Cells with paired TRA and TRB.</p>    
	</div>
	  <table style="float: left; margin-left: 0%; margin-right:3%; width: 47%">
		{% for item in res_format_summary %}
		  <tr>
			{% for i in item %} 
			<td>{{ i|e }}</td>
			{% endfor %}
		  </tr>
		{% endfor %}
	  </table>
  
	  <div id="myDivUMI" style="float: left; margin-left: 3%; margin-top: 1%;margin-right:0%; width: 47%">
		{{ chart|safe }}
	  </div>
  
	  <hr />
	  
	  <div class="clear" ></div>
	</div>
  </div>