<div class="abc" style="float: left; margin-left: 15%; margin-right:15%; width: 70%" >
    <h2>Cells		<i class="fa fa-question-circle" onClick="toggle1(this)" style="cursor:pointer;"></i></h2>
    <div class="box">
      <div class="description" style="display: none;">
      <p></p>
      <p><b>Estimated number of cells:</b> Number of cells which contain at least one chain (for TCR: TRA or TRB, for BCR: IGH, IGL or IGK).</p>
      <p><b>Mean Read Pairs per Cell:</b> Number of input reads divided by the estimated number of cells.</p>
      <p><b>Mean Used Read Pairs per Cell:</b> Mean number of reads used in assembly per cell-associated barcode.</p>
      <p><b>Fraction Reads in Cells:</b> Number of reads with cell-associated barcodes divided by the number of reads with valid barcodes.</p>
      <p><b>Fraction of Reads in Cells:</b> Number of reads with cell-associated barcodes divided by the number of reads with valid barcodes.</p>
      </div>

      <table style="float: left; margin-left: 0%; margin-right:3%; width: 47%">
        {% for item in summarize_summary[10:] %}
          <tr>
          {% for i in item %} 
          <td>{{ i|e }}</td>
          {% endfor %}
          </tr>
        {% endfor %}
        </table>
      
        <div id="myDivUMI" style="float: left; margin-left: 3%; margin-top: 1%;margin-right:0%; width: 47%">
        {{ chart|safe }}
        </div>

        <div class="clear" ></div>
      </div>
      </div>

      <div class="abc" style="float: left; margin-left: 15%; margin-right:15%; width: 70%" >
      <h2>V(D)J Annotation      <i class="fa fa-question-circle" onClick="toggle1(this)" style="cursor:pointer;"></i></h2>
      <div class="box">
        <div class="description" style="display: none;">
          <p><b></b></p> 
          <p><b>Cells With Productive V-J Spanning Pair</b>     
          <p><b>Cells With Productive V-J Spanning (TRA, TRB) Pair:</b> Fraction of cell-associated barcodes with one productive contig for each chain of the receptor pair. A productive contig satisfies the following conditions: the contig annotations span the 5' end of the V region to the 3' end of the J region of the chain, a start codon was found in the expected part of the V sequence, an in-frame CDR3 amino acid motif was found, and no stop codons were found in the aligned V-J region.</p>
          <p><b>Cells With TRA Contig:</b> Fraction of cell-associated barcodes with at least one TRA contig annotated as a full or partial V(D)J gene.</p>        
          <p><b>Cells With V-J Spanning TRA Contig:</b> Fraction of cell-associated barcodes with at least one contig spanning the 5' end of the V region to the 3' end of the J region for TRA.</p>
          <p><b>Cells With productive TRA Contig:</b>: Fraction of cell-associated barcodes with productive TRA chain. A productive contig satisfies the following conditions: the contig annotations span the 5' end of the V region to the 3' end of the J region of the chain, a start codon was found in the expected part of the V sequence, an in-frame CDR3 amino acid motif was found, and no stop codons were found in the aligned V-J region.</p>
          <p><b>Cells With TRB Contig:</b> Fraction of cell-associated barcodes with at least one TRB contig annotated as a full or partial V(D)J gene.</p>
          <p><b>Cells With V-J Spanning TRB Contig:</b> Fraction of cell-associated barcodes with at least one contig spanning the 5' end of the V region to the 3' end of the J region for TRB.</p>
          <p><b>Cells With Productive TRB Contig:</b> Fraction of cell-associated barcodes with productive TRB chain. A productive contig satisfies the following conditions: the contig annotations span the 5' end of the V region to the 3' end of the J region of the chain, a start codon was found in the expected part of the V sequence, an in-frame CDR3 amino acid motif was found, and no stop codons were found in the aligned V-J region.</p>
          
      </div>
        <table style="float: left; margin-left: 0%; margin-right:3%; width: 47%">
          {% for item in summarize_summary[:10] %}
            {% if loop.index <= (loop.length+1)/2 %}
            <tr>
              {% for i in item %} 
              <td>{{ i|e }}</td>
              {% endfor %}
            </tr>
            {% endif %}
          {% endfor %}
        </table>
  
        <table style="float: left; margin-left: 3%; margin-right:0%; width: 47%">
          {% for item in summarize_summary[:10] %}
            {% if loop.index > (loop.length+1)/2 %}
            <tr>
              {% for i in item %} 
              <td>{{ i|e }}</td>
              {% endfor %}
            </tr>
            {% endif %}
          {% endfor %}
        </table>
        <div class="clear" ></div>
      </div>
  </div>