<div class="abc" style="float: left; margin-left: 15%; margin-right:15%; width: 70%" >
    <h2>Mapping     <i class="fa fa-question-circle" onClick="toggle1(this)" style="cursor:pointer;"></i></h2>
    <div class="box">
      <div class="description" style="display: none;">
        <p>If type is BCR:</p>
        <p><b>All reads Mapped to IGH, IGL and IGK</b>: reads confidently mapped to IGH, IGL and IGK chain.</p>        
        <p><b>reads Mapped to IGH</b>: reads confidently mapped to IGH chain.</p>
        <p><b>reads Mapped to IGL</b>: reads confidently mapped to IGL chain.</p>
        <p><b>reads Mapped to IGK</b>: reads confidently mapped to IGK chain.</p>
        <p>If type is TCR:</p>
        <p><b>All reads Mapped to TRA and TRB</b>: reads confidently mapped to TRA and TRB chain.</p>        
        <p><b>reads Mapped to TRA</b>: reads confidently mapped to TRA chain.</p>
        <p><b>reads Mapped to TRB</b>: reads confidently mapped to TRB chain.</p>
    </div>
      <table style="float: left; margin-left: 0%; margin-right:3%; width: 47%">
        {% for item in trust_assemble_summary %}
          {% if loop.index <= (loop.length+1)/2 %}
          <tr>
            {% for i in item %} 
            <td>{{ i|e }}</td>
            {% endfor %}
          </tr>
          {% endif %}
        {% endfor %}
      </table>

      <table style="float: left; margin-left: 3%; margin-right:0%; width: 47%">
        {% for item in trust_assemble_summary %}
          {% if loop.index > (loop.length+1)/2 %}
          <tr>
            {% for i in item %} 
            <td>{{ i|e }}</td>
            {% endfor %}
          </tr>
          {% endif %}
        {% endfor %}
      </table>
      <div class="clear" ></div>
    </div>
  </div>