cutadapt==3.7
pysam>=0.18.0
scipy>=1.5.0
numpy>=1.19.5
jinja2>=2.10
xopen>=0.5.0
editdistance>=0.5.3
sklearn>=0.0
plotly>=4.14.3
plotnine>=0.8.0
matplotlib>=3.3.0
cython
pytest
venn
pyranges
scanpy==1.8.2
statsmodels
leidenalg
igraph
pandas>=1.2.5
