cutadapt==3.7
pysam>=0.18.0
scipy==1.13.1
numpy==1.26.0
jinja2>=2.10
xopen>=1.1
scikit-learn==1.2.2
plotly==5.24.1
plotnine==0.9.0
matplotlib==3.5.3
cython
pytest
scanpy==1.9.3
statsmodels
leidenalg
igraph
pandas==1.4.2
biopython
anndata==0.7.6
kaleido
