{% include "html/utils/start.html"%}

    {% if demultiplexing_summary is defined %}
    {% set step_summary = demultiplexing_summary %}
    {% include "html/utils/step.html"%}
    {% endif %}

    {% if mapping_summary is defined %}
    {% set step_summary = mapping_summary %}
    {% include "html/utils/step.html" %}
    {% endif %}

    {% if spots_summary is defined%}
    {% set step_summary = spots_summary %}
    {% include "html/rna/count.html" %}
    {% endif %}

    {% if analysis_summary is defined %}
    {% set step_summary = analysis_summary %}
    {% include "html/space/analysis.html"%}
    {% endif %}

    {% if marker_genes is defined %}
    {% set table = marker_genes %}
    {% include "html/utils/table.html"%}
    {% endif %}

{% include "html/utils/end.html"%}

