{% include "html/utils/start.html"%}

    {% if demultiplexing_summary is defined %}
    {% set step_summary = demultiplexing_summary %}
    {% include "html/utils/step.html"%}
    {% endif %}

    {% if mapping_summary is defined %}
    {% set step_summary = mapping_summary %}
    {% include "html/utils/step.html" %}
    {% endif %}

    {% if target_metrics_summary is defined %}
    {% set step_summary = target_metrics_summary %}
    {% include "html/utils/step.html"%}
    {% endif %}


    {% if analysis_snp_summary is defined %}
    {% set step_summary = analysis_snp_summary %}
    {% include "html/snp/analysis_snp.html" %}
    {% endif %}

{% include "html/utils/end.html"%}

