
{% include "html/utils/start.html"%}

    {% if consensus_summary is defined %}
    {% set step_summary = consensus_summary %}
    {% include "html/utils/step.html"%}
    {% endif %}

    {% if mapping_vdj_summary is defined %}
    {% set step_summary = mapping_vdj_summary %}
    {% include "html/utils/step.html"%}
    {% endif %}

    {% if count_vdj_summary is defined %}
    {% set step_summary = count_vdj_summary %}
    {% include "html/vdj/Count_vdj_summary.html"%}
    {% endif %} 

    {% if table_dict is defined %}
    {% include "html/vdj/clonetypes_table.html"%}
    {% endif %}

{% include "html/utils/end.html"%}