    <div class="abc" style="float: left; margin-left: 15%; margin-right:15%; width: 70%" >
      <h2>Demultiplexing    <i class="fa fa-question-circle" onClick="toggle1(this)" style="cursor:pointer;"></i></h2>
      <div class="box">
        <table style="float: left; margin-left: 0%; margin-right:3%; width: 47%">
          {% for item in barcode_summary %}
            {% if loop.index <= (loop.length+1)/2 %}
            <tr>
              {% for i in item %} 
              <td>{{ i|e }}</td>
              {% endfor %}
            </tr>
            {% endif %}
          {% endfor %}
        </table>

        <table style="float: left; margin-left: 3%; margin-right:0%; width: 47%">
          {% for item in barcode_summary %}
            {% if loop.index > (loop.length+1)/2 %}
            <tr>
              {% for i in item %} 
              <td>{{ i|e }}</td>
              {% endfor %}
            </tr>
            {% endif %}
          {% endfor %}
        </table>
        <div class="clear" ></div>
        <div class="description" style="display: none;">
          <p>Number of Reads: number of raw reads.</p>
          <p>Valid Reads: number of reads pass filtering.</p>
          <p>Valid Barcodes: number of barcodes pass filtering.</p>
          <p>Q30 of Barocdes: percent of barcode base pairs with quality scores over Q30.</p>
          <p>Q30 of UMIs: percent of UMI base pairs with quality scores over Q30.</p>
          <p>Reads with corrected Barcode: number of reads with corrected barcode.</p>
        </div>
      </div>
    </div>

