    <div class="abc" style="float: left; margin-left: 15%; margin-right:15%; width: 70%" >
      <h2>Trimming    <i class="fa fa-question-circle" onClick="toggle1(this)" style="cursor:pointer;"></i></h2>
      <div class="box">
        <table style="float: left; margin-left: 0%; margin-right:3%; width: 47%">
          {% for item in cutadapt_summary %}
            {% if loop.index <= (loop.length+1)/2 %}
            <tr>
              {% for i in item %} 
              <td>{{ i|e }}</td>
              {% endfor %}
            </tr>
            {% endif %}
          {% endfor %}
        </table>

        <table style="float: left; margin-left: 3%; margin-right:0%; width: 47%">
          {% for item in cutadapt_summary %}
            {% if loop.index > (loop.length+1)/2  %}
            <tr>
              {% for i in item %} 
              <td>{{ i|e }}</td>
              {% endfor %}
            </tr>
            {% endif %}
          {% endfor %}
        </table>
        <div class="clear" ></div>
        <div class="description" style="display: none;">
            <p>SampleName：样品名</p>
            <p>Total reads processed：处理的Reads数</p>
            <p>Reads with adapters：包含接头序列的Reads数</p>
            <p>Reads that were too short：trim掉接头序列后Reads长度小于20 bp的Reads数目</p>
            <p>Reads written (passing filters)：通过过滤的Reads数</p>
            <p>Total basepairs processed：处理的碱基数</p>
            <p>Total written (filtered)：通过过滤的碱基数</p>
        </div>
      </div>
    </div>

