    <div class="abc" style="float: left; margin-left: 15%; margin-right:15%; width: 70%" >
      <h2>Mapping summary</h2>
      <div class="has_desc"></div>
      <div class="box">
        <table style="float: left; margin-left: 0%; margin-top: 0%; margin-right:3%; width: 47%">
          {% for item in STAR_summary %}
            <tr>
              {% for i in item %} 
              <td>{{ i|e }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
        <div id="myDivPie" style="float: left; margin-left: 3%; margin-right:0%; width: 47%">
          <script>
            var data = [{
              values: {{ STAR_plot.region_values|safe }},
              labels: {{ STAR_plot.region_labels|safe }},
              type: 'pie',
              textposition: 'none',
            }];
            var layout = {
                autosize:true,
                height: 200,
                width: 400,
                margin: {
                    l: 50,
                    r: 35,
                    b: 10,
                    t: 10,
                },
                
                showlegend: true,
                legend: {
                    orientation: 'v',
                }

            };
            Plotly.newPlot('myDivPie', data, layout, {responsive: true});
          </script>
        </div>

        <div class="clear" ></div>
        <div class="description" style="display: none;">
          <p>SampleName：样品名</p>
          <p>Uniquely_mapped：在参考序列上有唯一比对位置的测序序列的数量及比例</p>
          <p>Multiple_mapped：在参考序列上有多个比对位置的测序序列的数量及比例</p>
          <p>Exonic_Regions：比对到外显子区域的碱基数目及比例</p>
          <p>Intronic_Regions：比对到内含子区域的碱基数目及比例</p>
          <p>Intergenic_Regions：比对到基因间区的碱基数目及比例</p>
        </div>
      </div>
    </div>

