<div class="abc" style="float: left; margin-left: 15%; margin-right:15%; width: 70%" >
  <h2>{{ step_summary.display_title}}    <i class="icon-help-circled" onClick="toggle1(this)" style="cursor:pointer;"></i></h2>
  <div class="box">
    {% include "html/utils/help_info.html" %}
    {% include "html/utils/col1_metrics.html" %}

    <div id="myDivPie" style="float: left; margin-left: 3%; margin-right:0%; margin-top: 2%;width: 47%">
      <script>
        var data = [{
          values: {{ region_plot.region_values|safe }},
          labels: {{ region_plot.region_labels|safe }},
          type: 'pie',
          textposition: 'none',
        }];
        var layout = {
            autosize:true,
            height: 300,
            width: 400,
            margin: {
                l: 50,
                r: 35,
                b: 10,
                t: 10,
            },
            
            showlegend: true,
            legend: {
                orientation: 'v',
            }

        };
        
        var config = { 
            "displayModeBar": true, 
            "staticPlot": false, 
            "showAxisDragHandles": false, 
            "modeBarButtons": [["toImage", "resetScale2d"]], 
            "scrollZoom": false,
            "displaylogo": false, 
        }

        Plotly.newPlot('myDivPie', data, layout, config);
      </script>
    </div>


    <div class="clear" ></div>

  </div>
</div>

