<div class="abc" style="float: left; margin-left: 15%; margin-right:15%; width: 70%" >
  <h2>{{ step_summary.display_title}}    <i class="icon-help-circled" onClick="toggle1(this)" style="cursor:pointer;"></i></h2>
  <div class="box">
    <div class="description" style="display: none;">
      {% for item in step_summary.metric_list %}
          {% if item.help_info %}
              <p><b>{{ item.name|e }}</b> : {{ item.help_info }}.</p>
          {% endif %}  
      {% endfor %}
    </div>
    <table style="float: left; margin-left: 0%; margin-top: 0%; margin-right:3%; width: 47%">
      {% for item in step_summary.metric_list %}
        <tr>
          <td>{{ item.name|e }}</td>
          <td>{{ item.display|e }}</td>
        </tr>
      {% endfor %}
    </table>
    <div id="myDivPie" style="float: left; margin-left: 3%; margin-right:0%; margin-top: 2%;width: 47%">
      <script>
        var data = [{
          values: {{ STAR_plot.region_values|safe }},
          labels: {{ STAR_plot.region_labels|safe }},
          type: 'pie',
          textposition: 'none',
        }];
        var layout = {
            autosize:true,
            height: 300,
            width: 400,
            margin: {
                l: 50,
                r: 35,
                b: 10,
                t: 10,
            },
            
            showlegend: true,
            legend: {
                orientation: 'v',
            }

        };
        
        var config = { 
            "displayModeBar": true, 
            "staticPlot": false, 
            "showAxisDragHandles": false, 
            "modeBarButtons": [["toImage", "resetScale2d"]], 
            "scrollZoom": false,
            "displaylogo": false, 
        }

        Plotly.newPlot('myDivPie', data, layout, config);
      </script>
    </div>

    <div class="clear" ></div>

  </div>
</div>

