{% include "html/utils/start.html"%}

    <!-- {% if TCR_assemble_summary is defined %}
    {% set step_summary = TCR_assemble_summary %}
    {% include "html/vdj_full_len/TCR_assemble_summary.html"%}
    {% endif %}

    {% if BCR_assemble_summary is defined %}
    {% set step_summary = BCR_assemble_summary %}
    {% include "html/vdj_full_len/BCR_assemble_summary.html"%}
    {% endif %}

    {% if table_dict is defined %}
    {% include "html/vdj_full_len/clonotypes_table.html"%}
    {% endif %} -->

{% include "html/utils/end.html"%}